*{
  margin: 0;
  padding: 0;
  border-radius: border-box;
}
.App {
  /* text-align: center; */
  padding: 5rem;
}
.form-wrapper{
  width: 400px;
  margin-inline: auto;
}
.form-title{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form-input{
  width: 100%;
  padding: 1rem ;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.481);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.name-output{
  font-size: 1.5rem;
  margin-top: 2rem;
}